*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



body{
margin: 0.5in 0.5in 0.5in 0.5in;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: justify;
background-color: antiquewhite;
background-image: url(image5.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}



h1{
text-align: center;
font-size: 50px;
color: rgb(131, 231, 167);
}


p{
font-size: medium;
}


.image-row{
display: flex;
justify-content: space-between;
align-items: center;
width: 96vw;
padding: 0;

}


.image-row img{
width: 24%;
height: auto;
border-radius: 15px;



}


